extends layout/layout

block head
  script(defer="defer",src="/js/audiochannelcontroller.min.js",type="text/javascript")
  script(defer="defer",src="/js/index.min.js",type="text/javascript")

block body
  #container