extends layout/layout
include mixins/device

block head
  script(defer="defer",src="/js/index.min.js",type="text/javascript")

block body
  #container.container
    .row
      .col-12
        h2
          |Devices

    each device in devices
      +device(device, sources)